<!doctype html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>WebFont Loader</title>
  <script type="text/javascript" src="http://use.typekit.com/sdy0juk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="stylesheets/default.css" rel="stylesheet" type="text/css">
  <link href="stylesheets/syntax.css" rel="stylesheet" type="text/css">
</head>
<body>

  <div id="header">
    <h1>
      {{ page.header }}
    </h1>
    <p class="nav">
      <a href="index.html">Home</a> |
      <a href="examples.html">Examples</a> |
      <a href="modules.html">Modules</a> |
      <a href="events.html">Events</a>
    </p>
  </div>

  <div id="content">
    {{ content }}
  </div>

  <div id="content">
    <hr>
    <p>
      WebFont Loader is brought to you by <a href="http://typekit.com/">Typekit</a>.
      Get the <a href="http://github.com/typekit/webfontloader">source code</a> on GitHub.
    </p>
  </div>

</body>
</html>